.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }
  
  .box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px black;
    border-radius: 5px;
  }
  
  .square {
    background-color: red;
  }
  
  .rectangle {
    background-color: blue;
    height: 150px;
    width: 100px;
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid green;
  }
  
  .circle {
    background-color: yellow;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
  }
  
  .circle:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
  }
  
  .rounded-square {
    background-color: purple;
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }
  
  .rounded-rectangle {
    background-color: orange;
    height: 50px;
    width: 150px;
    border-radius: 10px;
  }
  