.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  background-color: #87CEFA; /* warna biru muda */
  color: white;
  font-size: 5rem;
  text-align: center;
  padding: 1rem;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button {
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

button.reset {
  background-color: #FFD700; 
}

button.stop {
  background-color: green;
}

button.start {
  background-color: #00FF7F;
}
